@using JsonEverythingNet.Services

<div class="mx-3 navbar">
	<div class="container-fluid">
		<div class="align-items-center">
			<a class="navbar-brand font-monospace" href="">
				<img src="img/json-animated.webp" height="50" alt="json-everything" />
				json-everything
			</a>
		</div>
		<div class="px-1">
			<a class="navbar-brand m-2" href="https://blog.json-everything.net">
				<span class="tooltip-icon">
					blog
					<span class="tooltip-text header-tooltip">
						<MarkdownSpan Content="@HelpContent.BlogPromo"></MarkdownSpan>
					</span>
				</span>
			</a>
			<a class="navbar-brand m-2" href="https://docs.json-everything.net">
				<span class="tooltip-icon">
					docs
					<span class="tooltip-text header-tooltip">
						<MarkdownSpan Content="@HelpContent.DocsPromo"></MarkdownSpan>
					</span>
				</span>
			</a>
			<a class="navbar-brand m-2" href="https://learn.json-everything.net">
				<span class="tooltip-icon">
					learn
					<span class="tooltip-text header-tooltip">
						<MarkdownSpan Content="@HelpContent.LearnPromo"></MarkdownSpan>
					</span>
				</span>
			</a>
			<a href="@Redirects.Slack" class="navbar-brand m-2" target="_blank">
				<span class="tooltip-icon">
					<img src="img/slack.png" alt="Discuss in Slack" />
					<span class="tooltip-text header-tooltip">
						<MarkdownSpan Content="Discuss in Slack"></MarkdownSpan>
					</span>
				</span>
			</a>
			<a href="@Redirects.Github" class="navbar-brand m-2" target="_blank">
				<span class="tooltip-icon">
					<img src="img/github.png" alt="View on GitHub" />
					<span class="tooltip-text header-tooltip">
						<MarkdownSpan Content="View on GitHub"></MarkdownSpan>
					</span>
				</span>
			</a>
		</div>
	</div>
</div>
